* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #7159c1;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}

/* Animação da aparição do form na tela quando carregada e dos inputs e do botão */

form {
  overflow: hidden;
  animation: fade 250ms;
}

form .input-block:nth-child(1) {
  animation: moveEmail 500ms backwards;
}

form .input-block:nth-child(2) {
  animation: movePassword 500ms backwards;
  animation-delay: 100ms;
}

form .btn-login {
  animation: moveButton 500ms backwards;
  animation-delay: 200ms;
}

@keyframes fade {
  from {
      opacity: 0;
      transform: scale(0.8);
  } to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes moveEmail {
  from {
      opacity: 0;
      transform: translateX(-35%);
  } to {
      opacity: 1;
      transform: translateX(0%);
  }
}

@keyframes movePassword {
  from {
      opacity: 0;
      transform: translateX(35%);
  } to {
      opacity: 1;
      transform: translateX(0%);
  }
}

@keyframes moveButton {
  from {
      opacity: 0;
      transform: translateY(35%);
  } to {
      opacity: 1;
      transform: translateY(0%);
  }
}

/* Quando clicar no botão, o form sumirá */

.form-hide {
  animation: down 1.2s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  from {
      opacity: 1;
      transform: translateY(0);
  } to {
      opacity: 0;
      transform: translateY(100vh);
  }
}